doctype html

//- We do not support older browsers and none of the IE doodoo for now

html(lang="en")
    head
        meta(charset="utf-8")
        title= title
        script(src="/u/1194073/webgl/external/react/react-with-addons.min.js")
        script(src="/u/1194073/webgl/external/react/JSXTransformer.js")

    body
        div
        div
        div
        div.webgl-canvas
