doctype html

//- We do not support older browsers and none of the IE doodoo for now

html(lang="en")
    head
        meta(charset="utf-8")
        title= title
        //- link(rel="stylesheet', href='awesome.css")
        //- script(src="modernizr.min.js")

    body
        //- Body
